spack:
  definitions:
  - mpis:
    - intel-oneapi-mpi@2021.14.0
  - packages:
    - binutils@2.43.1+headers+ld
    - autoconf@2.72
    - libtool@2.4.7
    - automake@1.16.5
    - cmake@3.30.5
    - ninja@1.12.1
    # octopus dependencies:
    - libxc@7.0.0+kxc
    - spglib@2.5.0
    - gsl@2.8
    - sparskit@develop
    #- nlopt@2.8.0
    - libgd@2.3.3
    - python@3.11.7
    #- cgal@6.0.1
    #- dftbplus@24.1~arpack~gpu~mpi~sockets~transport+api+shared~openmp
    - libpspio@0.4.1+fortran
    - perl-yaml@1.30
  - packages_with_mpi:
    - intel-oneapi-mkl@2025.0.0+cluster threads=openmp ^intel-oneapi-tbb
    - parmetis@4.0.3+int64
    #- elpa@2024.03.001+openmp
    #- elpa@2024.03.001~openmp
    - hdf5@1.14.5+mpi+fortran
    - netcdf-fortran@4.6.1 ^netcdf-c+mpi
    #- bigdft-futile@1.9.5+shared+mpi
    #- bigdft-psolver@1.9.5+shared+mpi
    - etsf-io@1.0.4
  specs:
  - $packages
  - $mpis
  - matrix:
    - [$packages_with_mpi]
    - [$^mpis]
  view: false
  concretizer:
    unify: when_possible
    reuse: false
  packages:
    all:
      require: "%{{ fallback_compiler }}"
    intel-oneapi-runtime:
      require: "%{{ toolchain_compiler }}"
    boost:
      require: "%{{ toolchain_compiler }}"
    gsl:
      require: "%{{ toolchain_compiler }}"
    sparskit:
      require: "%{{ toolchain_compiler }}"
    intel-oneapi-mpi:
      require: "%{{ toolchain_compiler }}"
    dftd3-lib:
      require: "%{{ toolchain_compiler }}"
    libxc:
      require: "%{{ toolchain_compiler }}"
    berkeleygw:
      require: "%{{ toolchain_compiler }}"
    cgal:
      require: "%{{ toolchain_compiler }}"
    dftbplus:
      require: "%{{ toolchain_compiler }}"
    elpa:
      require: "%{{ toolchain_compiler }}"
    etsf-io:
      require: "%{{ toolchain_compiler }}"
    hdf5:
      require: "%{{ toolchain_compiler }}"
    libpspio:
      require: "%{{ toolchain_compiler }}"
    nlopt:
      require: "%{{ toolchain_compiler }}"
    bigdft-psolver:
      require: "%{{ toolchain_compiler }}"
    bigdft-atlab:
      require: "%{{ toolchain_compiler }}"
    bigdft-futile:
      require: "%{{ toolchain_compiler }}"
    metis:
      require: "%{{ toolchain_compiler }}"
    parmetis:
      require: "%{{ toolchain_compiler }}"
    intel-oneapi-mkl:
      require: "%{{ toolchain_compiler }}"
    intel-oneapi-tbb:
      require: "%{{ toolchain_compiler }}"
    intel-tbb:
      require: "%{{ toolchain_compiler }}"
    libvdwxc:
      require: "%{{ toolchain_compiler }}"
    netcdf-fortran:
      require: "%{{ toolchain_compiler }}"
    netcdf-c:
      require: "%{{ toolchain_compiler }}"
