spack:
  definitions:
  - compilers:
    - "{{ toolchain_compiler }}"
  - mpis:
    - openmpi@4.1.5~cuda fabrics=ucx schedulers=slurm ^slurm@22-05-8-1+pmix^ucx@1.14.1+cma~cuda+dc+dm~gdrcopy+ib_hw_tm+knem+mlx5_dv+rc+rdmacm+thread_multiple+ud+verbs~vfs~xpmem
  - packages:
    - binutils@2.40+headers+ld
    - openblas@0.3.23
    # autotools 20210128 not in spack; manually
    - autoconf@2.71
    - libtool@2.4.7
    - automake@1.16.5
    - cmake@3.26.6
    - ninja@1.11.1
    # octopus dependencies:
    - libxc@6.2.2+kxc
    - spglib@2.1.0
    - gsl@2.7.1
    - sparskit@develop
    - nlopt@2.7.1
    - libgd@2.3.3
    - nfft@3.5.3
    - python@3.11.4
    - cgal@5.5.2
    - dftbplus@22.2~arpack~gpu~mpi~sockets~transport+api+shared~openmp
    - libpspio@0.4.1+fortran
    - perl-yaml@1.30
  - packages_with_mpi:
    - fftw@3.3.10+openmp+mpi+pfft_patches
    - netlib-scalapack@2.2.0
    # octopus dependencies:
    - elpa@2023.05.001+openmp
    - elpa@2023.05.001~openmp
    - libvdwxc@0.4.0+mpi+pfft
    - berkeleygw@3.0.1+mpi
    - parmetis@4.0.3+int64
    - pfft@1.0.8-alpha
    - pnfft@1.0.7-alpha
    - hdf5@1.14.1+mpi
    - netcdf-fortran@4.6.1 ^netcdf-c+mpi
    - bigdft-futile@1.9.3+shared+mpi
    - bigdft-psolver@1.9.3+shared+mpi
    - etsf-io@1.0.4
  specs:
  - matrix:
    - [$mpis]
    - [$%compilers]
  - matrix:
    - [$packages]
    - [$%compilers]
  - matrix:
    - [$packages_with_mpi]
    - [$^mpis]
    - [$%compilers]
  view: false
  concretizer:
    unify: when_possible
    reuse: false
  packages:
    all:
      require: "%{{ toolchain_compiler }}"
