spack:
  definitions:
  - mpis:
    - intel-oneapi-mpi@2021.10.0+classic-names
  - packages:
    - binutils@2.40+headers+ld
    - autoconf@2.71
    - libtool@2.4.7
    - automake@1.16.5
    - cmake@3.26.6
    - ninja@1.11.1
    # octopus dependencies:
    - libxc@6.2.2+kxc
    - spglib@2.1.0
    - gsl@2.7.1
    - sparskit@develop
    - nlopt@2.7.1
    - libgd@2.3.3
    - python@3.11.4
    - cgal@5.6
    - dftbplus@23.1~arpack~gpu~mpi~sockets~transport+api+shared~openmp
    - perl-yaml@1.30
  - packages_with_mpi:
    - intel-oneapi-mkl
    - elpa@2023.11.001-patched+openmp
    - elpa@2023.11.001-patched~openmp
    - parmetis@4.0.3+int64
    - hdf5@1.14.3+mpi
    - netcdf-fortran@4.6.1 ^netcdf-c+mpi
    - bigdft-futile@1.9.3+shared+mpi
    - bigdft-psolver@1.9.3+shared+mpi
    - etsf-io@1.0.4
  specs:
  - $packages
  - $mpis
  - matrix:
    - [$packages_with_mpi]
    - [$^mpis]
  view: false
  concretizer:
    unify: when_possible
    reuse: false
  packages:
    all:
      require: "%{{ fallback_compiler }}"
    blas:
      require: "intel-oneapi-mkl"
    lapack:
      require: "intel-oneapi-mkl"
    cmake:
      require: "@3.26.6"
    ninja:
      require: "@1.11.1"
    boost:
      require: "@1.84.0%{{ toolchain_compiler }}"
    gsl:
      require: "%{{ toolchain_compiler }}"
    sparskit:
      require: "%{{ toolchain_compiler }}"
    intel-oneapi-mpi:
      require: "%{{ toolchain_compiler }}"
    dftd3-lib:
      require: "%{{ toolchain_compiler }}"
    libxc:
      require: "%{{ toolchain_compiler }}"
    berkeleygw:
      require: "%{{ toolchain_compiler }}"
    cgal:
      require: "%{{ toolchain_compiler }}"
    dftbplus:
      require: "%{{ toolchain_compiler }}"
    elpa:
      require: "%{{ toolchain_compiler }}"
    etsf-io:
      require: "%{{ toolchain_compiler }}"
    hdf5:
      require: "%{{ toolchain_compiler }}"
    nlopt:
      require: "%{{ toolchain_compiler }}"
    bigdft-psolver:
      require: "%{{ toolchain_compiler }}"
    bigdft-atlab:
      require: "%{{ toolchain_compiler }}"
    bigdft-futile:
      require: "%{{ toolchain_compiler }}"
    metis:
      require: "%{{ toolchain_compiler }}"
    parmetis:
      require: "%{{ toolchain_compiler }}"
    intel-oneapi-mkl:
      require: "@2023.2.0%{{ toolchain_compiler }}+cluster threads=openmp ^intel-oneapi-tbb"
    intel-oneapi-tbb:
      require: "%{{ toolchain_compiler }}"
    intel-tbb:
      require: "%{{ toolchain_compiler }}"
    libvdwxc:
      require: "%{{ toolchain_compiler }}"
    netcdf-fortran:
      require: "%{{ toolchain_compiler }}"
    netcdf-c:
      require: "%{{ toolchain_compiler }}"
    spglib:
      require: "%{{ toolchain_compiler }}"
