config:
    url_fetch_method: curl  # berkeleygw downloads stopped working (roughly around Feb 1, 2024) with urllib
    source_cache: "{{ source_cache }}"
    template_dirs:
        - "{{ spack_root }}/etc/spack/templates"
    build_stage: "{{ spack_root }}/var/spack/stage"
