modules:
  prefix_inspections:
    lib:
      - LIBRARY_PATH
    lib64:
      - LIBRARY_PATH
    include:
      - CPATH
  default:
    enable::
      - lmod
    roots:
      lmod: "{{ lmod_root }}"
    arch_folder: false
    lmod:
      hash_length: 0
      core_compilers:
        - '{{ system_compiler }}'
      core_specs:
        - intel-oneapi-compilers-classic
        - intel-oneapi-compilers
      include:
        - 'gcc%{{ system_compiler }}'
        - 'cuda%{{ system_compiler }}'
        - 'miniforge3%{{ system_compiler }}'
        - 'perl-yaml%{{ system_compiler }}'
      hide_implicits: false
      exclude:
        - '%{{ system_compiler }}'
        - slurm
      projections:
        all: '{name}/{version}'
        'elpa+openmp': '{name}-openmp/{version}'
      all:
        environment:
          set:
            'MPSD_{name}_ROOT': '{prefix}'
        suffixes:
            '^cuda': 'cuda-{^cuda.version}'
        template: 'mpsd-update-ldflags.lua'
      py-numpy:
        suffixes:
            '^intel-oneapi-mkl': 'mkl'
      elpa+openmp:
        environment:
          set:
            'MPSD_{name}_OPENMP_ROOT': '{prefix}'
