spack:
  definitions:
  - compilers:
    - "{{ toolchain_compiler }}"
  - packages:
    - binutils@2.40+headers+ld
    - fftw@3.3.10+openmp~mpi+pfft_patches
    - openblas@0.3.24
    # autotools 20210128 not in spack; manually
    - autoconf@2.72
    - libtool@2.4.7
    - automake@1.16.5
    - cmake@3.27.9
    - ninja@1.11.1
    # octopus dependencies:
    - libxc@6.2.2+kxc
    - spglib@2.1.0
    - gsl@2.7.1
    - sparskit@develop
    - nlopt@2.7.1
    - libgd@2.3.3
    - libvdwxc@0.4.0~~mpi
    - nfft@3.5.3
    - berkeleygw@3.1.0~~mpi
    - python@3.11.7  # python 3.12 not yet supported by cython
    - cgal@5.6
    - hdf5@1.14.3~mpi
    - netcdf-fortran@4.6.1 ^netcdf-c~~mpi
    - etsf-io@1.0.4
    - bigdft-futile@1.9.3+shared~~mpi
    - bigdft-psolver@1.9.3+shared~~mpi~scalapack
    - dftbplus@23.1~arpack~gpu~mpi~sockets~transport+api+shared~openmp
    - libpspio@0.4.1+fortran
    - valgrind@3.20.0~~mpi~boost
    - perl-yaml@1.30
  specs:
  - matrix:
    - [$packages]
    - [$%compilers]
  view: false
  concretizer:
    unify: true
    reuse: false
  packages:
    all:
      require: "%{{ toolchain_compiler }}"
