spack:
  definitions:
  - compilers:
    - "{{ toolchain_compiler }}"
  - packages:
    - binutils@2.43.1+headers+ld
    - fftw@3.3.10+openmp~mpi+pfft_patches
    - openblas@0.3.28
    # autotools 20210128 not in spack; manually
    - autoconf@2.72
    - libtool@2.4.7
    - automake@1.16.5
    - cmake@3.30.5
    - ninja@1.12.1
    # octopus dependencies:
    - libxc@7.0.0+kxc
    - spglib@2.5.0
    - gsl@2.8
    - sparskit@develop
    - nlopt@2.8.0
    - libgd@2.3.3
    - libvdwxc@0.4.0~~mpi
    - nfft@3.5.3
    - berkeleygw@3.1.0~~mpi
    - berkeleygw@4.0~~mpi
    - python@3.11.7  # python 3.12 not yet supported by cython
    - cgal@6.0.1
    - hdf5@1.14.5~mpi
    - netcdf-fortran@4.6.1 ^netcdf-c~~mpi
    - etsf-io@1.0.4
    - bigdft-futile@1.9.5+shared~~mpi
    - bigdft-psolver@1.9.5+shared~~mpi~scalapack
    - dftbplus@24.1~arpack~gpu~mpi~sockets~transport+api+shared~openmp
    - libpspio@0.4.1+fortran
    - valgrind@3.23.0~~mpi~boost
    - perl-yaml@1.30
  specs:
  - matrix:
    - [$packages]
    - [$%compilers]
  view: false
  concretizer:
    unify: when_possible
    reuse: false
  packages:
    all:
      require: "%{{ toolchain_compiler }}"
