{% raw -%}
{% extends "modules/modulefile.lua" %}
{% block footer %}
-- update rpath-LDFLAGS from the current value of LIBRARY_PATH
if os.getenv("LIBRARY_PATH") then
    setenv("LDFLAGS", '-Wl,-rpath=' .. os.getenv("LIBRARY_PATH"):gsub(':',' -Wl,-rpath='))
end
{% endblock %}
{%- endraw %}